<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/register.css">
  </head>
  <body>

      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-7 col-sm-9 shadow rounded p-5 register_form">
            <form action="/auth/register" method="POST">
              <h3>sign up page</h3>
              <hr>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">User name</label>
                <input type="text" class="form-control" name="username" placeholder="Enter User name">
                <% if (err) { %>
                  <div class="alert alert-danger" role="alert">
                    <%=err%>
                  </div>
                <% } %>
                <% if (usererr) { %>
                  <div class="alert alert-danger" role="alert">
                    <%=usererr%>
                  </div>
                <% } %>
                <p class="fs-6 text-danger hide">please fill out this field</p>
                <p class="fs-6 text-danger hide">username must containe atleast 3 charecters and 20 max !</p>
              </div>
              <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password">
                <% if (err) { %>
                  <div class="alert alert-danger" role="alert">
                    <%=err%>
                  </div>
                <% } %>
                <% if (passerr) { %>
                  <div class="alert alert-danger" role="alert">
                    <%=passerr%>
                  </div>
                <% } %>
                <p class="fs-6 text-danger hide">please fill out this field</p>
                <p class="fs-6 text-danger hide">password must containe atleast 8 charecters and 30 max !</p>
                <p class="fs-6 text-danger hide">these are not the same !</p>
                
              </div>
              <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">repeat password</label>
                <input type="password" class="form-control" placeholder="Repeat password">
                <p class="fs-6 text-danger hide">please fill out this field</p>
                <p class="fs-6 text-danger hide">password must containe atleast 8 charecters and 30 max !</p>
                <p class="fs-6 text-danger hide">these are not the same !</p>
              </div>
              <div class="mb-1">
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>

              <a href="/auth/signinPage" class="text-decoration-none">Already have an account ? sign in !</a>


            </form>
          </div>
        </div>

      </div>
  </body>
</html>
